!!!
%html
  %head
    %title Aprendizaje Estadístico
  %body
    #header
      %h1 Aprendizaje Estadístico
    #nav
      %ol
        %a(href="/cambiar")
          %li Cambiar contraseña
        %a(href="/resultados")
          %li Ver resultados
