!!!
%html
  %head
    %title Mi clase
    %link(rel="stylesheet" href="css/styles.css")
  %body  
    .hero-unit
      %h1 Mi clase
      %p Un calificador autómatico de tareas desarrollado con tecnologías de R, Ruby, Sinatra y Haml y Twitter Bootstrap.    
    .container
      .page-header
        %h3 Usuario
      %p.lead=@username
      %h4 Pendientes
      %p=@sevals
      .page-header
        %h3 Resultados
      .row
        .span5
          %table.table.table-striped
            %thead
              %th Tarea
              %th Ejercicio
              %th Calificación
              %th Intentos
            %tbody
              - @res.each do |row|
                %tr
                  - row.each do |el|
                    %td=el
      .page-header
        %h3 Administración de cuenta
      .row
        .span5
          %a.btn.btn-primary{ :href => '/cambiar'} Cambiar contraseña  
    